<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541633265065-ccno3uem1iavl9c55j7cs3tv3vui4o5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541633265065-ccno3uem1iavl9c55j7cs3tv3vui4o5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCvlf5hi1FX-RDsz5_wBiJfW3FhnUjyh7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>541633265065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complete</string>
	<key>PROJECT_ID</key>
	<string>xiaomin-3035f</string>
	<key>STORAGE_BUCKET</key>
	<string>xiaomin-3035f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541633265065:ios:a1e19e7dd7abd7cdc598b8</string>
</dict>
</plist>